<!--
  Generated template for the DadiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="moredark">
    <ion-title>Fattore aleatorio</ion-title>
  </ion-navbar>

</ion-header>



<ion-content class="master" padding>
	
	

  <ion-spinner *ngIf="loading" id="feed-spinner"></ion-spinner>
	
	<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
	
		<form (ngSubmit)="tiraildado()" #registerForm="ngForm">
<button ion-button class="submit-btn2" full type="submit" >Tira un dado</button>
</form>	
		<form (ngSubmit)="usafdv()" #registerForm="ngForm">
<button ion-button class="submit-btn3" full type="submit" [disabled]="fdv==0" >Usa Forza di Volontà</button>
</form>		
		
	  <ion-list >
    <ion-item *ngFor="let tiri of tiridado"  class="master">
		<p>{{tiri.data}} {{tiri.ora}}</p><div>{{tiri.pg}} {{tiri.testo}} </div> 
    </ion-item>
  </ion-list>


</ion-content>


