<!--
  Generated template for the DadiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="moredark">
    <ion-title>Fattore aleatorio e Messaggi</ion-title>
  </ion-navbar>

</ion-header>



<ion-content class="master" padding>



  <ion-spinner *ngIf="loading" id="feed-spinner"></ion-spinner>

	<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

		<form (ngSubmit)="tiraildado()" #registerForm="ngForm">
<button ion-button class="submit-btn2" full type="submit" >Tira un dado</button>
</form>
		<form (ngSubmit)="usafdv()" #registerForm="ngForm">
<button ion-button class="submit-btn3" full type="submit" [disabled]="fdv==0" >Usa Forza di Volontà</button>
</form>
<form (ngSubmit)="menops()" #registerForm="ngForm">
<button ion-button class="submit-btn2" full type="submit" [disabled]="PScorrenti==0" >Usa un Punto Sangue</button>
</form>
<form (ngSubmit)="gocaccia()" #registerForm="ngForm">
<button ion-button class="submit-btn3" full type="submit" [disabled]="psvuoti==0" >Vai in caccia</button>
</form>
<form (ngSubmit)="gotelepatia()" #registerForm="ngForm" *ngIf="telepatia==true">
<button ion-button class="submit-btn2" full type="submit" [disabled]="PScorrenti==0" >Telepatia</button>
</form>
<form (ngSubmit)="golegami()" #registerForm="ngForm" >
<button ion-button class="submit-btn3" full type="submit" >Legame di Sangue</button>
</form>
<form (ngSubmit)="gomorte()" #registerForm="ngForm" >
<button ion-button class="submit-btn2" full type="submit" >Morte Ultima</button>
</form>


	  <ion-list >
    <ion-item *ngFor="let tiri of tiridado"  class="master" text-wrap>
		<p>{{tiri.data}} {{tiri.ora}}</p><div>{{tiri.pg}} {{tiri.testo}} </div>
    </ion-item>
  </ion-list>


</ion-content>
