<!--
  Generated template for the ConoscenzePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="moredark">
    <ion-title>Skill e Conoscenze</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="master" padding>

     <ion-row style="align-items: center;">
      <ion-col ><hr/></ion-col>
      <ion-col col-6 style="color:#FFFFFF; text-align: center; font-size: 1.1em;">Discipline e Taumaturgie</ion-col>
      <ion-col ><hr/></ion-col>
    </ion-row>

 <ion-row >
      <ion-col col-7>Bonus attivazione</ion-col>
	  <ion-col>+{{ scheda.attivazione }}</ion-col>
 </ion-row>


  <ion-row *ngFor="let desc of myskill">
      <ion-col col-7 *ngIf="desc.tipologia == 2 ">{{ desc.nomeskill }}</ion-col>
      <ion-col *ngIf="desc.tipologia == 2 "><img src="assets/img/10/{{ desc.livello }}.png"></ion-col>
 </ion-row>

    <ion-row *ngFor="let desc of myskill">
      <ion-col col-7 *ngIf="desc.tipologia == 3 "><span stype="color:#FF0000;">&nbsp;&nbsp;- </span> {{ desc.nomeskill }}</ion-col>
      <ion-col *ngIf="desc.tipologia == 3 "><img src="assets/img/5/{{ desc.livello }}.png"></ion-col>
 </ion-row>

	  <ion-row style="align-items: center;" *ngIf="rituali == 1">
      <ion-col ><hr/></ion-col>
      <ion-col col-6 style="text-align: center; font-size: 1em;">Rituali</ion-col>
      <ion-col ><hr/></ion-col>
    </ion-row>

	  <ion-row *ngFor="let desc of myskill">
      <ion-col *ngIf="desc.tipologia == 11 "><span stype="color:#FF0000;"></span> {{ desc.nomeskill }}</ion-col>
		</ion-row>



     <ion-row style="align-items: center;">
      <ion-col ><hr/></ion-col>
      <ion-col col-6 style="text-align: center; font-size: 1em;">Competenze del Personaggio</ion-col>
      <ion-col ><hr/></ion-col>
    </ion-row>

	<ion-row *ngFor="let desc of myskill">
      <ion-col col-7 *ngIf="desc.tipologia == 0 ">{{ desc.nomeskill }}</ion-col>
      <ion-col *ngIf="desc.tipologia == 0 "><img src="assets/img/5/{{ desc.livello }}.png"></ion-col>
	</ion-row>


   <ion-row style="align-items: center;">
      <ion-col ><hr/></ion-col>
      <ion-col col-5 style="text-align: center;">Skill di Combattimento</ion-col>
      <ion-col ><hr/></ion-col>
    </ion-row>

  <ion-row *ngFor="let desc of myskill">
      <ion-col col-7 *ngIf="desc.tipologia == 1 ">{{ desc.nomeskill }}</ion-col>
      <ion-col *ngIf="desc.tipologia == 1 "><img src="assets/img/5/{{ desc.livello }}.png"></ion-col>
 </ion-row>

 	<ion-row style="align-items: center;">
      <ion-col ><hr/></ion-col>
      <ion-col col-6 style="color:#FFFFFF; text-align: center; font-size: 1.1em;">Analizza Oggetto</ion-col>
      <ion-col ><hr/></ion-col>
    </ion-row>

    <ion-row >
      <ion-col style="text-align: center;"><button ion-button color="#FFFFFF;" round outline (click)="openbarcode()">Scan</button></ion-col>
    </ion-row>

	<ion-row style="align-items: center;">
      <ion-col ><hr/></ion-col>
      <ion-col col-6 style="color:#FFFFFF; text-align: center; font-size: 1.1em;">Danni delle Armi</ion-col>
      <ion-col ><hr/></ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-7 >Pugno/Calcio</ion-col>
      <ion-col >{{ foripot2  }} </ion-col>
	</ion-row>
	<ion-row *ngIf="artigli == 1">
      <ion-col col-7 >Artigli della Bestia</ion-col>
      <ion-col >{{ 1*forza +  1*rissa + 1*potenza +1 }} </ion-col>
	</ion-row>
  <ion-row>
      <ion-col col-7 >Pugnale/Paletto</ion-col>
      <ion-col >{{ 1*fomipot2 +1 }} </ion-col>
  </ion-row>
	<ion-row>
      <ion-col col-7 >Spada corta/Mazza</ion-col>
      <ion-col >{{ 1*fomipot2 +2 }} </ion-col>
	</ion-row>
  <ion-row>
      <ion-col col-7 >Spada lunga</ion-col>
      <ion-col >{{ 1*fomipot2 +3 }} </ion-col>
  </ion-row>
	<ion-row>
      <ion-col col-7 >Pugnale da lancio</ion-col>
      <ion-col >{{ 1*folapot2 +1 }} </ion-col>
	</ion-row>
	<ion-row>
      <ion-col col-7 >Balestra</ion-col>
      <ion-col >{{ treti2 +1 }} </ion-col>
	</ion-row>


	<ion-row style="align-items: center;">
      <ion-col ><hr/></ion-col>
      <ion-col col-6 style="color:#FFFFFF; text-align: center; font-size: 1.1em;">Armi da Fuoco</ion-col>
      <ion-col ><hr/></ion-col>
    </ion-row>

	<ion-row *ngIf="fuoco > 0">
      <ion-col col-7 >Revolver/Pistola leggera</ion-col>
      <ion-col >{{ trefuoco2  }} </ion-col>
	</ion-row>
	<ion-row *ngIf="fuoco > 0">
      <ion-col col-7 >Revolver/Pistola pesante</ion-col>
      <ion-col >{{ trefuoco2 +1 }} </ion-col>
	</ion-row>
	<ion-row *ngIf="fuoco > 1">
      <ion-col col-7 >Mitra leggero</ion-col>
      <ion-col >{{ trefuoco2 +2 }} </ion-col>
	</ion-row>
	<ion-row *ngIf="fuoco > 2">
      <ion-col col-7 >Mitra pesante/d'assalto</ion-col>
      <ion-col >{{ trefuoco2 +3 }} </ion-col>
	</ion-row>


</ion-content>
