<!--
  Generated template for the ConoscenzePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="moredark">
    <ion-title>Skill e Conoscenze</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="master" padding>

     <ion-row style="align-items: center;">
      <ion-col ><hr/></ion-col>
      <ion-col col-6 style="color:#FFFFFF; text-align: center; font-size: 1.1em;">Discipline e Taumaturgie</ion-col>
      <ion-col ><hr/></ion-col>
    </ion-row>      
 
 <ion-row >
      <ion-col col-7>Bonus attivazione</ion-col>
	  <ion-col>+{{ scheda.attivazione }}</ion-col>
 </ion-row>
  
	
  <ion-row *ngFor="let desc of myskill">
      <ion-col col-7 *ngIf="desc.tipologia == 2 ">{{ desc.nomeskill }}</ion-col>
      <ion-col *ngIf="desc.tipologia == 2 "><img src="assets/img/10/{{ desc.livello }}.png"></ion-col>
 </ion-row>
  
    <ion-row *ngFor="let desc of myskill">
      <ion-col col-7 *ngIf="desc.tipologia == 3 "><span stype="color:#FF0000;">&nbsp;&nbsp;- </span> {{ desc.nomeskill }}</ion-col>
      <ion-col *ngIf="desc.tipologia == 3 "><img src="assets/img/5/{{ desc.livello }}.png"></ion-col>
 </ion-row>
 
	  <ion-row style="align-items: center;" *ngIf="rituali == 1">
      <ion-col ><hr/></ion-col>
      <ion-col col-6 style="text-align: center; font-size: 1em;">Rituali</ion-col>
      <ion-col ><hr/></ion-col>
    </ion-row>    
	
	  <ion-row *ngFor="let desc of myskill">
      <ion-col *ngIf="desc.tipologia == 11 "><span stype="color:#FF0000;"></span> {{ desc.nomeskill }}</ion-col>
		</ion-row>
	
	
  
     <ion-row style="align-items: center;">
      <ion-col ><hr/></ion-col>
      <ion-col col-6 style="text-align: center; font-size: 1em;">Competenze del Personaggio</ion-col>
      <ion-col ><hr/></ion-col>
    </ion-row>    
  
	<ion-row *ngFor="let desc of myskill">
      <ion-col col-7 *ngIf="desc.tipologia == 0 ">{{ desc.nomeskill }}</ion-col>
      <ion-col *ngIf="desc.tipologia == 0 "><img src="assets/img/5/{{ desc.livello }}.png"></ion-col>
	</ion-row>
  
  
   <ion-row style="align-items: center;">
      <ion-col ><hr/></ion-col>
      <ion-col col-5 style="text-align: center;">Skill di Combattimento</ion-col>
      <ion-col ><hr/></ion-col>
    </ion-row>      
  
  <ion-row *ngFor="let desc of myskill">
      <ion-col col-7 *ngIf="desc.tipologia == 1 ">{{ desc.nomeskill }}</ion-col>
      <ion-col *ngIf="desc.tipologia == 1 && desc.livello < 3 "><img src="assets/img/5/{{ desc.livello }}.png"></ion-col>
	  <ion-col *ngIf="desc.tipologia == 1 && desc.livello > 2 "><img src="assets/img/5/{{ desc.livello }}.png">&nbsp;&nbsp;&nbsp; ( +{{ desc.livello - 2 }} )</ion-col>
 </ion-row>
 
 	<ion-row style="align-items: center;">
      <ion-col ><hr/></ion-col>
      <ion-col col-6 style="color:#FFFFFF; text-align: center; font-size: 1.1em;">Analizza Oggetto</ion-col>
      <ion-col ><hr/></ion-col>
    </ion-row>   
    
    <ion-row >
      <ion-col style="text-align: center;"><button ion-button color="#FFFFFF;" round outline (click)="openbarcode()">Scan</button></ion-col>
    </ion-row>   
  
	<ion-row style="align-items: center;">
      <ion-col ><hr/></ion-col>
      <ion-col col-6 style="color:#FFFFFF; text-align: center; font-size: 1.1em;">Danni delle Armi</ion-col>
      <ion-col ><hr/></ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col col-7 >Pugno/Calcio</ion-col>
      <ion-col >{{ 1*forza + 2 + 1*rissa + 1*potenza  }} </ion-col>
	</ion-row>
	<ion-row>
      <ion-col col-7 >Artiglio</ion-col>
      <ion-col >{{ 1*forza + 3 + 1*rissa + 1*potenza }} </ion-col>
	</ion-row>
	<ion-row *ngIf="artigli == 1">
      <ion-col col-7 >Artiglio Aggr.</ion-col>
      <ion-col >{{ 2*forza + 4 + 1*rissa + 1*potenza }} </ion-col>
	</ion-row>
	<ion-row>
      <ion-col col-7 >Morso (Aggr.)</ion-col>
      <ion-col >{{ 2*forza + 4 + 1*rissa + 1*potenza }} </ion-col>
	</ion-row>
	<ion-row>
      <ion-col col-7 >Pugnale</ion-col>
      <ion-col >{{ 1*forza + 3 + 1*rissa + 1*potenza }} </ion-col>
	</ion-row> 
	<ion-row>
      <ion-col col-7 >Pugnale da lancio</ion-col>
      <ion-col >{{ 1*forza + 3 + 1*lancio + 1*potenza }} </ion-col>
	</ion-row> 
	<ion-row>
      <ion-col col-7 >Freccia</ion-col>
      <ion-col >{{ 1*forza + 3 + 1*tiro }} </ion-col>
	</ion-row> 
	<ion-row>
      <ion-col col-7 >Paletto</ion-col>
      <ion-col >{{ 1*forza + 3 + 1*mischia + 1*potenza }} </ion-col>
	</ion-row>  
	<ion-row>
      <ion-col col-7 >Mazza/Bastone</ion-col>
      <ion-col >{{ 1*forza + 4 + 1*mischia + 1*potenza }} </ion-col>
	</ion-row> 
	<ion-row>
      <ion-col col-7 >Spada corta</ion-col>
      <ion-col >{{ 1*forza + 4 + 1*mischia + 1*potenza }} </ion-col>
	</ion-row>  
	<ion-row>
      <ion-col col-7 >Spada lunga</ion-col>
      <ion-col >{{ 1*forza + 5 + 1*mischia + 1*potenza }} </ion-col>
	</ion-row>    
	
	<ion-row style="align-items: center;">
      <ion-col ><hr/></ion-col>
      <ion-col col-6 style="color:#FFFFFF; text-align: center; font-size: 1.1em;">Armi da Fuoco</ion-col>
      <ion-col ><hr/></ion-col>
    </ion-row>
	
	<ion-row *ngIf="fuoco > 0">
      <ion-col col-7 >Revolver leggero</ion-col>
      <ion-col >{{ 4 + 1*Bfuoco }} </ion-col>
	</ion-row>   
	<ion-row *ngIf="fuoco > 0">
      <ion-col col-7 >Revolver pesante</ion-col>
      <ion-col >{{ 6 + 1*Bfuoco }} </ion-col>
	</ion-row> 
	<ion-row *ngIf="fuoco > 0">
      <ion-col col-7 >Pistola leggera</ion-col>
      <ion-col >{{ 5 + 1*Bfuoco }} </ion-col>
	</ion-row>
	<ion-row *ngIf="fuoco > 1">
      <ion-col col-7 >Pistola pesante</ion-col>
      <ion-col >{{ 7 + 1*Bfuoco }} </ion-col>
	</ion-row> 
	<ion-row *ngIf="fuoco > 2">
      <ion-col col-7 >Fucile</ion-col>
      <ion-col >{{ 8 + 1*Bfuoco -1 }} </ion-col>
	</ion-row>  
	<ion-row *ngIf="fuoco > 2">
      <ion-col col-7 >Mitra leggero</ion-col>
      <ion-col >{{ 6 + 1*Bfuoco -1 }} </ion-col>
	</ion-row>  
	<ion-row *ngIf="fuoco > 3">
      <ion-col col-7 >Mitra pesante</ion-col>
      <ion-col >{{ 8 + 1*Bfuoco -2 }} </ion-col>
	</ion-row> 
	<ion-row *ngIf="fuoco > 3">
      <ion-col col-7 >Fucile d'assalto</ion-col>
      <ion-col >{{ 9 + 1*Bfuoco -2 }} </ion-col>
	</ion-row>  
	<ion-row *ngIf="fuoco > 4">
      <ion-col col-7 >Shotgun</ion-col>
      <ion-col >{{ 12 + 1*Bfuoco -3 }} </ion-col>
	</ion-row>                    
  
</ion-content>
