// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.master {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 1em;
}

.mysmall {
    color: #999999;
    font-size: 0.8em;
}
.mymed {
    color: #CCCCCC;
    font-size: 0.9em;
}
.myred {
    color: #ff0000;
}

.myred2 {
    color: #9e1000;
    font-size: 0.9em;
}

.mywhite {
    color: #ffffff;
    font-size: 0.9em;
}

.alertCustomCss{
  background-color: #333333;
  color: blue;
  button{
      color: blue;
  }
}

  .login-content {
    background: #000000;
  }

  .submit-btn {
       background: #ff1010;
       border-radius: 30px !important;
       border: 1px solid #ffffff;
  }
  .submit-btn2 {
       background: #ff3030;
       border-radius: 30px !important;
       border: 1px solid #ffffff;
  }
 .submit-btn3 {
       background: #3030ff;
       border-radius: 30px !important;
       border: 1px solid #ffffff;
  }




  .login-box {
      background: #090909;
      padding: 20px 20px 0px 20px;
      margin-top: 20px;
  }

  .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
  }

  hr {
    color: #ff0000;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #f00;
    margin: 1em 0;
    padding: 0;
 }



.selectable {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}


  //ion-row {
  //     align-items: center;
  //     text-align: center;
  //}
