<!--
  Generated template for the CacciaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="moredark">
    <ion-title>Caccia</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding class="master">

  <ion-row style="align-items: center;" *ngIf="hidevalue==false && animalita==true">
    <ion-col  style="color:#FF0000; text-align: center; font-size: 1.1em;">Tempo di Caccia ridotto per Animalità</ion-col>
  </ion-row>
  <ion-row style="align-items: center;" *ngIf="hidevalue==false && animalita==false && gregge > 0">
    <ion-col  style="color:#FF0000; text-align: center; font-size: 1.1em;">Tempo di Caccia ridotto per Gregge</ion-col>
  </ion-row>
  <ion-row style="align-items: center;" *ngIf="hidevalue==false">
    <ion-col  style="color:#FF0000; text-align: center; font-size: 1.1em;">Tempo di Caccia Restante</ion-col>
  </ion-row>
  <ion-row style="align-items: center;" *ngIf="hidevalue==false">
    <ion-col style="color:#FFFFFF; text-align: center; font-size: 1.1em;">{{minuti}}:{{secondi}}</ion-col>
  </ion-row>
  <ion-row style="align-items: center;" *ngIf="hidevalue==true">
    <ion-col style="color:#FF0000; text-align: center; font-size: 1.1em;">Caccia terminata!</ion-col>
  </ion-row>
  <ion-row style="align-items: center;" *ngIf="hidevalue==true">
    <ion-col style="color:#FF0000; text-align: center; font-size: 1.1em;">Recuperati {{recuperati}} PS</ion-col>
  </ion-row>

</ion-content>
