<!--
  Generated template for the TaumPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="moredark">
    <ion-title>Taumaturgie</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="master" padding>
  <ion-row *ngFor="let p of taum">
    <ion-col col-2><hr/></ion-col>
    <ion-col col-8 style="color:#FFFFFF; text-align: center; font-size: 1.1em;">{{p.nometaum}}</ion-col>
    <ion-col col-2><hr/></ion-col>

    <ion-col col-12 *ngFor="let pp of p.poteri">
      <button  *ngIf="pp.idtaum2!=5" (click)="gotaum(pp.livello, pp.nometaum2, p.nometaum)" ion-button class="submit-btn2" full type="submit" [disabled]="(PScorrenti==0)||(PScorrenti==1 && pp.livello==5 )" >{{pp.livello}} - {{pp.nometaum2}}</button>
      <button  *ngIf="pp.idtaum2==5" (click)="gofurto()" ion-button class="submit-btn2" full type="submit" [disabled]="(PSvuoti==0)||(FurtoVitae==0 )" >{{pp.livello}} - {{pp.nometaum2}}</button>
    </ion-col>

  </ion-row>
</ion-content>
