<!--
  Generated template for the PoteriPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="moredark">
    <ion-title>Poteri di {{nomed}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="master" padding>

<ion-row *ngFor="let p of aPoteri">
  <ion-col *ngIf="p.attivo=='N' && p.livellopot<5 " >
  <button  (click)="gopotere(p.nomepotere,p.livellopot)" ion-button class="submit-btn2" full type="submit" [disabled]="PScorrenti==0" >{{p.livellopot}} - {{p.nomepotere}}</button>
  </ion-col>
  <ion-col *ngIf="p.attivo=='N' && p.livellopot==5 " >
  <button  (click)="gopotere(p.nomepotere,p.livellopot)" ion-button class="submit-btn2" full type="submit" [disabled]="PScorrenti<2" >{{p.livellopot}} - {{p.nomepotere}}</button>
  </ion-col>
  <ion-col *ngIf="p.attivo=='X'  " >
  <button  (click)="gopotere(p.nomepotere,p.livellopot)" ion-button class="submit-btn2" full type="submit" [disabled]="PSvuoti==0 || CacciaAnimalita == 0" >{{p.livellopot}} - {{p.nomepotere}}</button>
  </ion-col>
  <ion-col *ngIf="p.attivo=='Y'  " >
  <button  (click)="gopotere(p.nomepotere,p.livellopot)" ion-button class="submit-btn2" full type="submit" [disabled]="PSvuoti==0 || PScorrenti == 0" >{{p.livellopot}} - {{p.nomepotere}}</button>
  </ion-col>
  <ion-col *ngIf="p.attivo=='S'" text-center style="font-size: 1.1em;">
  - {{p.livellopot}}.{{p.nomepotere}} (attivo) -
  </ion-col>
</ion-row>
</ion-content>
