<!--
  Generated template for the PersonaggioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="moredark">
    <ion-title>Personaggio</ion-title>

    <ion-buttons end>
      <button ion-button (click)="logoutx()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content class="master" no-padding >

	<ion-spinner *ngIf="loading" id="feed-spinner"></ion-spinner>
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>

  <h3 class="mypad2">{{scheda['nomepg']}}</h3>

    <div style="background-color: #222222; border: 1px solid #ff0000;  alig: center; border-radius: 2px; margin-left:5px; margin-right:5px;" >
      <ion-grid class="mypad">
        <ion-row>
          <ion-col col-3 style="color:#FF0000;">Clan</ion-col>
          <ion-col col-4 >{{scheda['nomeclan']}}</ion-col>
          <ion-col col-4 style="color:#FF0000;">Generazione</ion-col>
          <ion-col col-1 >{{scheda['generazione']}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3 style="color:#FF0000;">Status</ion-col>
          <ion-col col-4 >{{scheda['status']}}</ion-col>
          <ion-col col-4 style="color:#FF0000;">Blood Potency</ion-col>
          <ion-col col-1 >{{scheda['bloodp']}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3 style="color:#FF0000;">Sentiero</ion-col>
          <ion-col style="text-align:left;">{{scheda['sentiero']}}&nbsp;&nbsp;<span style="color:#FF0000;">-</span>&nbsp;&nbsp;{{scheda['valsentiero']}}/10</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5 style="color:#FF0000;">Forza di Volontà</ion-col>
          <ion-col col-2 >{{scheda['fdv']}}/{{scheda['fdvmax']}}</ion-col>
          <ion-col col-2 style="color:#FF0000;">XP <span style="color:#ffffff;">{{scheda['xp']}}</span></ion-col>
          <ion-col col-3 style="color:#FF0000;">Spesi <span style="color:#ffffff;">{{scheda['xpspesi']}}</span></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-7 style="color:#FF0000;">Fama in città</ion-col>
          <ion-col><img src="assets/img/5b/{{scheda['fama1']}}.png"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-7 style="color:#FF0000;">Fama tra i Vampiri</ion-col>
          <ion-col><img src="assets/img/5b/{{scheda['fama2']}}.png"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-7 style="color:#FF0000;">Fama nel Mondo Oscuro</ion-col>
          <ion-col><img src="assets/img/5b/{{scheda['fama3']}}.png"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 style="color:#FF0000;" >Livello Sete</ion-col>
          <ion-col><img *ngFor="let item of scheda['PScorrenti']|times" src="assets/img/red.png"><img *ngFor="let item of scheda['psvuoti']|times" src="assets/img/white.png"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 style="color:#FF0000;" >Punti Ferita</ion-col>
          <ion-col col-2>{{pf}}</ion-col>
          <ion-col col-2 style="color:#FF0000;" >RD</ion-col>
          <ion-col col-1>{{scheda['rd']}}</ion-col>
          <ion-col col-2 style="color:#FF0000;" >Bane</ion-col>
          <ion-col col-1>+{{scheda['bane']}}</ion-col>
        </ion-row>
      </ion-grid>
    </div>


<!--
  <ion-grid>
    <ion-row>
      <ion-col><hr/></ion-col>
      <ion-col style="color:#FFFFFF; font-size: 1.5em; text-align: center;">Attributi</ion-col>
      <ion-col><hr/></ion-col>
    </ion-row>
  </ion-grid>
-->
<p>
  <div style="  alig: center; margin-left:10px; margin-right:10px;" >
  <ion-grid no-padding >
    <ion-row style="align-items: center;">
      <ion-col col-1 ><hr/></ion-col>
      <ion-col col-6 style="text-align: center;">Attributi Fisici (max {{scheda.maxstat}})</ion-col>
      <ion-col ><hr/></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Forza</ion-col>
      <ion-col>Destrezza</ion-col>
      <ion-col>Attutimento</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><img src="assets/img/10/{{scheda.forza}}.png"></ion-col>
      <ion-col><img src="assets/img/10/{{scheda.destrezza}}.png"></ion-col>
      <ion-col><img src="assets/img/10/{{scheda.attutimento}}.png"></ion-col>
    </ion-row>
    <ion-row style="align-items: center;">
      <ion-col col-1 ><hr/></ion-col>
      <ion-col col-4 style="text-align: center;">Attributi Sociali</ion-col>
      <ion-col><hr/></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Carisma</ion-col>
      <ion-col>Persuasione</ion-col>
      <ion-col>Saggezza</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><img src="assets/img/10/{{scheda.carisma}}.png"></ion-col>
      <ion-col><img src="assets/img/10/{{scheda.persuasione}}.png"></ion-col>
      <ion-col><img src="assets/img/10/{{scheda.saggezza}}.png"></ion-col>
    </ion-row>
    <ion-row style="align-items: center;">
      <ion-col col-1 ><hr/></ion-col>
      <ion-col col-5 style="text-align: center;">Attributi Mentali</ion-col>
      <ion-col><hr/></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Percezione</ion-col>
      <ion-col>Intelligenza</ion-col>
      <ion-col>Prontezza</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><img src="assets/img/10/{{scheda.percezione}}.png"></ion-col>
      <ion-col><img src="assets/img/10/{{scheda.intelligenza}}.png"></ion-col>
      <ion-col><img src="assets/img/10/{{scheda.prontezza}}.png"></ion-col>
    </ion-row>
  </ion-grid>
  </div>

</ion-content>
