<!--
  Generated template for the BackgroundPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="moredark">
    <ion-title>Background</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="master" padding>


     <ion-row style="align-items: center;">
      <ion-col ><hr/></ion-col>
      <ion-col col-6 style="color:#FFFFFF; text-align: center; font-size: 1.1em;">Background</ion-col>
      <ion-col ><hr/></ion-col>
    </ion-row>

    <ion-row *ngFor="let desc of myskill">
      <ion-col col-7 *ngIf="desc.tipologia == 5 ">{{ desc.nomeskill }}</ion-col>
      <ion-col *ngIf="desc.tipologia == 5 && desc.nomeskill != 'Contatti' "><img src="assets/img/5/{{ desc.livello }}.png"></ion-col>
      <!-- <ion-col *ngIf="desc.tipologia == 5 && desc.nomeskill == 'Contatti' " stype="text-align:left;">{{ desc.livello }}/20</ion-col>  -->
    </ion-row>

   <ion-row *ngFor="let desc of myskill">
      <ion-col col-7 *ngIf="desc.tipologia == 7  ">&nbsp;&nbsp;- {{ desc.nomeskill }}</ion-col>
      <ion-col *ngIf="desc.tipologia == 7  "><img src="assets/img/5/{{ desc.livello }}.png"></ion-col>
    </ion-row>

    <ion-row style="align-items: center;">
      <ion-col ><hr/></ion-col>
      <ion-col col-6 style="color:#FFFFFF; text-align: center; font-size: 1.1em;">Pregi</ion-col>
      <ion-col ><hr/></ion-col>
    </ion-row>

    <ion-row *ngFor="let desc of myskill">
      <ion-col *ngIf="desc.tipologia == 8 && desc.livello > 0 ">{{ desc.nomeskill}}</ion-col>
    </ion-row>

    <ion-row style="align-items: center;">
      <ion-col ><hr/></ion-col>
      <ion-col col-6 style="color:#FFFFFF; text-align: center; font-size: 1.1em;">Difetti</ion-col>
      <ion-col ><hr/></ion-col>
    </ion-row>


	<ion-row *ngFor="let desc of myskill">
      <ion-col *ngIf="desc.tipologia == 8 && desc.livello < 0 ">{{ desc.nomeskill}}</ion-col>
    </ion-row>

    <ion-row style="align-items: center;">
      <ion-col ><hr/></ion-col>
      <ion-col col-6 style="color:#FFFFFF; text-align: center; font-size: 1.1em;">Rifugio</ion-col>
      <ion-col ><hr/></ion-col>
    </ion-row>
    <ion-row >
      <ion-col >{{rifugio}}</ion-col>
    </ion-row>

	<ion-row style="align-items: center;">
      <ion-col ><hr/></ion-col>
      <ion-col col-6 style="color:#FFFFFF; text-align: center; font-size: 1.1em;">Conoscenze di Clan</ion-col>
      <ion-col ><hr/></ion-col>
    </ion-row>

    <ion-row >
      <ion-col style="text-align: center;"><button ion-button color="#FFFFFF;" round outline (click)="openUrl()">Open</button></ion-col>
    </ion-row>

	<ion-row style="align-items: center;" *ngIf="fulldata.note != ''">
      <ion-col ><hr/></ion-col>
      <ion-col col-6 style="color:#FFFFFF; text-align: center; font-size: 1.1em;">Annotazioni</ion-col>
      <ion-col ><hr/></ion-col>
    </ion-row>
	<ion-row >
      <ion-col style="color:#FFFFFF; text-align: justify; font-size: 1.1em;"><span [innerHTML]="note"></span></ion-col>
    </ion-row>
	<ion-row>
		<ion-item class=master>
			<button ion-fab right item-end color="danger" (click)="modifica()"><ion-icon name="create"></ion-icon></button>
		</ion-item>

    </ion-row>

</ion-content>
